/* =================== CardsComponent style start =================== */
.cards-section {
  background-image: url("./assets/Vector3.png");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 32px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 1024px) {
    background-image: inherit !important;
    margin-top: -260px !important;
  }
}

.card-container {
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.06);
  background: #ffffff;
  border-radius: 22px;
  width: 600px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.icon {
  background-color: #f9f9f9;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container p {
  padding-top: 10px;
  line-height: 1.9;
  font-size: 17px;
  color: #8e8e8e;
  font-weight: 400;
}

@media (max-width: 320px) {
  .responsive-cards {
    margin-top: 85% !important;
  }
}

@media (max-width: 375px) {
  .responsive-cards {
    margin-top: 300%;
  }
}

@media (max-width: 425px) {

  .responsive-cards {
    margin-top: 261%;
  }

  .responsive-cards {
    margin-top: 70% !important;
  }
}

@media (max-width: 572px) {

  .responsive-cards {
    margin-top: 180%;
  }
}

@media (max-width: 694px) {
  .responsive-cards {
    justify-content: center;
  }

  .card-container {
    margin-bottom: 30px;
  }
}

@media (max-width: 786px) {

  .responsive-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 172px;
    flex-wrap: wrap;
  }

  .card-container p {
    font-size: 13px;
  }

  .responsive-cards {
    position: inherit !important;
  }

  .card-container {
    width: 331px;
    top: inherit;
    bottom: -178%;
    position: inherit;
  }
}


@media (max-width: 880px) {
  .responsive-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 280px;
    flex-wrap: wrap;
  }

  .card-container p,
  .card-container2 p {
    font-size: 13px;
  }

  .responsive-cards {
    position: inherit !important;
  }

  .card-container,
  .card-container2 {
    width: 331px;
    top: inherit;
    bottom: -178%;
    position: inherit;
  }

  .card-container2 {
    right: 24px;
  }
}

@media (max-width: 1024px) {

  .responsive-cards {
    margin-left: 30px;
    margin-right: 30px;
  }

  .card-container p,
  .card-container2 p {
    font-size: 13px;
  }

  .card-container,
  .card-container2 {
    width: 442px;
  }

  .card-container2 {
    right: 24px;
  }
}