.offcanvas.show {
  --bs-offcanvas-width: 300px !important;
  width: var(--bs-offcanvas-width) !important;
  max-width: 80% !important;

  .offcanvas-header {
    background-color: $primary;

    .offcanvas-title {

      svg,
      path {
        // fill: #000;
      }
    }

    .btn-close {
      padding: 10px;
      opacity: 1;
      margin-right: 5px;
      filter: invert(1);
      border: 1px solid transparent;

      &:hover {
        border: 1px solid #000;
      }

      svg,
      path {
        fill: #fff;
      }
    }
  }

  .offcanvas-body {
    .navbar-nav {
      .nav-item {
        .nav-link {
          display: block;
          border-bottom: 1px solid rgb(216, 216, 216);
          padding: 15px 0;
        }

        .btn {
          margin-top: 10px;
        }
      }
    }
  }
}

.navbar {
  background-color: #17171d !important;

  .navbar-brand {

    &:hover {

      path,
      svg {
        fill: $success;
      }
    }
  }

  .navbar-toggler {

    .navbar-toggler-icon {}
  }

  .offcanvas {
    max-width: 100% !important;

    .offcanvas-body {

      .navbar-nav {
        align-items: start;

        // Extra Small devices (landscape phones, 376px and up)
        @include media-breakpoint-up(xs) {}

        // Small devices (landscape phones, 576px and up)
        @include media-breakpoint-up(sm) {
          align-items: start;
        }

        // Medium devices (tablets, 768px and up)
        @include media-breakpoint-up(md) {
          align-items: center;
        }

        // Large devices (desktops, 992px and up)
        @include media-breakpoint-up(lg) {}

        // X-Large devices (large desktops, 1200px and up)
        @include media-breakpoint-up(xl) {}

        .nav-item {

          .nav-link {
            padding: 5px 15px;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            color: #FFFFFF;

            &:hover {
              color: $success;
            }
          }

          &.active {
            .nav-link {
              color: $success;
            }
          }
        }

        .btn {
          padding: 0.5rem 1.5rem !important;
        }
      }
    }
  }
}