/* ======= GetRDeeComponent style start ======= */
.getrdee-sec {
  img.sec-img {}

  .text-content {
    h3 {
      font-size: 30px;
      color: #17171d;
      padding-bottom: 20px;
      font-weight: 700 !important;

      span {
        display: block;
        color: #7836ff !important;
      }
    }

    p {
      line-height: 28px;
      font-size: 15px;
      color: #8e8e8e;
      margin-bottom: 15px;
      font-weight: 400;
    }
  }
}