/* ======= ModulesLunchComponent style start ======= */
.meetUp-container {}

.banner {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #7836ff;
  text-align: center;
  margin-bottom: 80px;
  color: #7836ff;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
  font-weight: 400;
  word-spacing: 10px;
  font-size: 24px;
  line-height: 28px;

  // Extra Small devices (landscape phones, 376px and up)
  @include media-breakpoint-up(xs) {}

  // Small devices (landscape phones, 576px and up)
  @include media-breakpoint-up(sm) {
    font-size: 28px;
    line-height: 34px;
  }

  // Medium devices (tablets, 768px and up)
  @include media-breakpoint-up(md) {}

  // Large devices (desktops, 992px and up)
  @include media-breakpoint-up(lg) {
    font-size: 40px;
    line-height: 50px;
  }

  // X-Large devices (large desktops, 1200px and up)
  @include media-breakpoint-up(xl) {}
}

.countries-box {
  height: 100%;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.06);
  border-radius: 22px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countries-box p {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400 !important;
}