@media (max-width: 1440px) {
  .header-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .meetUp-container {
    margin-top: 365px;
  }
}

@media (max-width: 674px) {
  .header-list-items {
    display: none !important;
  }

  .responsive-side-bar {
    display: flex !important;
    background-color: #fd4b4b !important;
    border-radius: 50% !important;
    cursor: pointer !important;
  }

  .responsive-side-bar img {
    width: 52px !important;
  }

  .header-list {
    flex-direction: row !important;
  }
}

@media (max-width: 698px) {
  .health-care-box h1 {
    font-size: 34px !important;
  }

  .web3-network-box {
    font-size: 10px !important;
  }

  .health-care-box .btn {
    margin-right: 0 !important;
  }
}

@media (max-width: 1024px) {
  .description {
    padding-top: 110px !important;
  }

  .get-r-dee-box {
    align-items: center !important;
  }

  .web3-container {
    align-items: center;
  }

  .web3-info-box {
    width: 60%;
  }

  .bg-none {
    display: none;
  }
}

@media (max-width: 880px) {
  .header-list {
    flex-direction: column;
  }
}

@media (max-width: 786px) {
  .iphone-image {
    left: 351px !important;
  }

  .health-care-info p:first-child {
    font-size: 15.5px !important;
  }

  .health-care-info h3 {
    font-size: 25px !important;
  }

  .web3-info-box {
    width: 80%;
  }

  .empowered-box {
    height: fit-content !important;
    width: 357px !important;
  }
}

@media (max-width: 425px) {

  .health-care-box h1 {
    font-size: 37px !important;
  }

  .web3-network-box {
    font-size: 8px !important;
    font-weight: bold !important;
  }

  .patients_btn {
    margin: 0 !important;
    margin-top: 20px !important;
  }

  .health-care-box p:first-child {
    font-size: 12px;
  }

  .lines-bg,
  .circle-bg {
    height: 57vh !important;
  }

  .iphone-image {
    left: 50px !important;
  }

  .responsive-text {
    font-size: 10px !important;
  }

  .trust-solved,
  .empowered-box {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .web3-info-box {
    padding-right: 0 !important;
    width: 95%;
  }

  .empowered-box p {
    font-size: 12px !important;
  }
}

@media (max-width: 375px) {
  .re-dee__container {
    padding-top: 100px !important;
  }

  .iphone-image img {
    width: 250px !important;
    height: 343px !important;
  }

  .description-box h3 {
    font-size: 26px !important;
  }

  .description-box p {
    font-size: 12px !important;
  }

  .description {
    width: 312px !important;
    padding-top: 47px !important;
  }

  .health-care-box h1 {
    font-size: 35px !important;
  }

  .web3-network-box {
    font-size: 11px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .health-care-box h1 sup {
    font-size: 10px !important;
  }

  .lines-bg {
    background-image: none !important;
    height: 38vh !important;
  }

  .circle-bg {
    height: 38vh !important;
  }

  .iphone-image {
    left: 35px !important;
  }

  .biometric-box {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .health-care-box {
    height: 139.4vh !important;
  }

  .description {
    width: 263px !important;
  }

  .description-box h3 {
    font-size: 22px !important;
  }

  .web3-network-box {
    font-size: 11px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 86% !important;
  }

  .health-care-box .btn,
  .patients_btn {
    font-size: 15px !important;
  }

  .iphone-image {
    left: 5px !important;
  }

  .health-care-info p:first-child {
    font-size: 12.5px !important;
  }

  .meetUp-container {
    margin-top: 438px !important;
  }

  .responsive-image {
    width: 250px !important;
  }

  .empowered-box {
    margin-left: -29px;
  }

  .box-text {
    width: 90%;
    margin-left: 8px !important;
    margin-right: 0 !important;
  }

  .web3-info-box p {
    font-size: 14px !important;
  }
}