 .home-hero {
   background-color: #17171d;
   text-align: center;

   p.text {
     font-size: 16px;
     line-height: 2rem;
     font-weight: 400;
     margin-bottom: 12px;
   }

   .hero-heading {
     color: white;
     font-size: 24px;
     line-height: 28px;

     // Extra Small devices (landscape phones, 376px and up)
     @include media-breakpoint-up(xs) {}

     // Small devices (landscape phones, 576px and up)
     @include media-breakpoint-up(sm) {
       font-size: 28px;
       line-height: 34px;
     }

     // Medium devices (tablets, 768px and up)
     @include media-breakpoint-up(md) {}

     // Large devices (desktops, 992px and up)
     @include media-breakpoint-up(lg) {
       font-size: 40px;
       line-height: 50px;
     }

     // X-Large devices (large desktops, 1200px and up)
     @include media-breakpoint-up(xl) {
       font-size: 50px;
     }

     sup {
       top: -22px;
       font-size: 16px;
     }
   }

   .hero-inner {
     padding: 0 5px;

     // Extra Small devices (landscape phones, 376px and up)
     @include media-breakpoint-up(xs) {
       padding: 0 25px;
     }

     // Small devices (landscape phones, 576px and up)
     @include media-breakpoint-up(sm) {
       padding: 0 25px;
     }

     // Medium devices (tablets, 768px and up)
     @include media-breakpoint-up(md) {
       padding: 0 15%;
     }

     // Large devices (desktops, 992px and up)
     @include media-breakpoint-up(lg) {
       padding: 0 20%;
     }

     // X-Large devices (large desktops, 1200px and up)
     @include media-breakpoint-up(xl) {
       padding: 0 25%;
     }
   }
 }

 .hero-image {
   width: 95%;
   margin: 0 auto;
   position: relative;


   .desktop {
     display: none;

     // `sm` applies to x-small devices (portrait phones, less than 576px)
     @media (max-width: 575.98px) {}

     // `md` applies to small devices (landscape phones, less than 768px)
     @media (max-width: 767.98px) {
       display: block;
     }

     // `lg` applies to medium devices (tablets, less than 992px)
     @media (max-width: 991.98px) {}

     // `xl` applies to large devices (desktops, less than 1200px)
     @media (max-width: 1199.98px) {}

     // `xxl` applies to x-large devices (large desktops, less than 1400px)
     @media (max-width: 1399.98px) {}
   }

   .mobile {
     display: block;

     // `sm` applies to x-small devices (portrait phones, less than 576px)
     @media (max-width: 575.98px) {}

     // `md` applies to small devices (landscape phones, less than 768px)
     @media (max-width: 767.98px) {
       display: none;
     }

     // `lg` applies to medium devices (tablets, less than 992px)
     @media (max-width: 991.98px) {}

     // `xl` applies to large devices (desktops, less than 1200px)
     @media (max-width: 1199.98px) {}

     // `xxl` applies to x-large devices (large desktops, less than 1400px)
     @media (max-width: 1399.98px) {}
   }
 }