/* ======= AboutServices style start ======= */
.feature-box {
  background: #f9f9f9;
  color: #45496c;
  border-radius: 6px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  padding: 15px 15px;

  p {
    padding-left: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .icon {
    background-color: #ffffff;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;

    img {
      width: 20px;
      height: 20px;
    }
  }

}