* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Helvetica";
}
@font-face {
  font-family: "Helveticas";
  src: url("./Font/Helvetica\ Neue\ UltraLight/Helvetica Neue UltraLight.ttf");
  font-weight: 300;
}
a {
  text-decoration: none;
}
p {
  font-size: 15px;
  font-weight: 400;
  color: #8e8e8e;
}
.container {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  background-color: #17171d;
  color: #ffffff;
}
.active-list-item {
  color: #4aea87 !important;
}
.header-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.responsive-side-bar {
  display: none;
}
.header-list-items {
  display: flex;
  align-items: center;
}
.header-list-items p {
  margin-right: 40px;
  font-size: 18px;
}
.header-list-items p a {
  color: #ffffff;
  font-weight: 500;
  display: flex;
  align-items: self-end;
}
.header-list-items p svg {
  fill: white;
  font-size: 30px;
  height: 15px;
  padding-left: 10px;
}
.header-list-items button {
  border: 0;
  padding: 16px 35px;
  border-radius: 35px;
  background-color: #fd4b4b;
  color: white;
  font-size: 14px;
}
/* GetRdee */
.background-color {
  background-image: url("./assets/Vector3.png");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: -130px;
  height: 100vh;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.get-r-dee-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.re-dee__container {
  position: relative;
  padding-top: 150px;
}
/*  */
.health-care-box {
  background-color: #17171d;
  text-align: center;
  padding-top: 50px;
}
.health-care-box p:first-child {
  color: #4aea87;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 25px;
}
.health-care-box h1 {
  color: white;
  font-size: 50px;
}
.health-care-box h1 sup {
  font-size: 20px;
}
.web3-network-box {
  margin: 0 auto;
  line-height: 1.8;
  padding-top: 20px;
  color: white;
  font-size: 13px;
  padding-bottom: 40px;
}
.health-care-box button {
  border: 0;
  width: 250px;
  height: 65px;
  border-radius: 35px;
  background-color: #fd4b4b;
  color: white;
  font-size: 18px;
  font-weight: 500;
  margin-right: 30px;
  margin-bottom: 40px;
}
.patients_btn {
  background-color: #4aea87 !important;
}
.lines-bg {
  background-image: url("./assets/Group8203.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.circle-bg {
  background-image: url("./assets/Maskgroup.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
}
.mobile-bg {
  background-image: url("./assets/Group8222.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 111vh;
  background-position: center;
}
.image-box {
  position: absolute;
  top: 50px;
  left: 0;
  animation: frame 5s linear infinite;
  animation-iteration-count: 1;
}
.second-image-box {
  position: absolute;
  right: 0;
  top: 100px;
}
.second-image-box img:first-child {
  padding-bottom: 200px;
  animation: frame 5s linear infinite;
  animation-iteration-count: 1;
}
@keyframes frame {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Button animation */
.patients_btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.patients_btn:after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.add-user-list {
  text-align: center;
  justify-content: center;
  display: flex;
}
.mobile-image {
  position: relative;
}

/*  */
.iphone-image {
  position: absolute;
  top: 108px;
  left: 210px;
  right: 0;
}
.description {
  width: 500px;
}
.description-box h3 {
  font-size: 30px;
  color: #17171d;
  padding-bottom: 20px;
}
.description-box h3 span {
  color: #7836ff !important;
}
.description-box p {
  line-height: 2.25;
  font-size: 15px;
  color: #8e8e8e;
  margin-bottom: 20px;
}
.change-color2 {
  color: #7836ff;
  text-decoration: underline;
}
.card-container {
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.06);
  background: #ffffff;
  border-radius: 22px;
  position: absolute;
  top: 330px;
  width: 530px;
  height: 309px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}
.card-container2 {
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.06);
  background: #ffffff;
  border-radius: 22px;
  position: absolute;
  top: 330px;
  right: 0px;
  width: 530px;
  height: 309px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}
.icon {
  background-color: #f9f9f9;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-container p,
.card-container2 p {
  padding-top: 10px;
  line-height: 1.9;
  font-size: 17px;
  color: #8e8e8e;
  font-weight: 400;
}

/*  */
.meetUp-container {
  margin-top: 100px;
  text-align: center;
}
.meetUp-container h1 {
  color: #17171d;
  padding-bottom: 20px;
}
.meetUp-container h1 span {
  color: #4aea87 !important;
}
.meetUp-container p {
  font-size: 20px;
  font-weight: 500;
  color: #17171d;
  padding-bottom: 30px;
}
.banner {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #7836ff;
  text-align: center;
  margin-bottom: 50px;
  letter-spacing: 0.2em;
  font-size: 30px;
  color: #7836ff;
  text-shadow: -1px 1px 0 white, 1px 1px 0 white, 1px -1px 0 white,
    -1px -1px 0 white;
  font-weight: 500;
}
.card-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 100px;
}
.countries-box {
  background: #ffffff;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.06);
  border-radius: 22px;
  width: 400px;
  height: 188px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.countries-box p {
  padding-top: 20px;
  font-size: 15px;
  font-weight: 600;
}
.health-care-info {
  text-align: center;
  /* background-color: #ffffff !important; */
}
.health-care-info p:first-child {
  color: #fd4b4b;
  font-size: 30px;
  width: 53%;
  line-height: 1.9;
  font-weight: 500;
  margin: 0 auto;
  padding-bottom: 30px;
}
.health-care-info h3 {
  font-size: 40px;
  width: 45%;
  margin: 0 auto;
}
/* About services */
.about-services-box {
  width: 305px;
  height: 70px;
  background: #f9f9f9;
  color: #17171d;
  border-radius: 6px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.easy-to-use-icon {
  background-color: #ffffff;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.about-services-box p {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
}
.circle-bg-image {
  position: relative;
}
.kyc-biometric-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 150px;
}
.biometric-box {
  width: 580px;
  height: 70px;
  background: #f9f9f9;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.biometric-box-icon {
  border-radius: 50%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-right: 10px;
}
.biometric-box p {
  padding-top: 10px;
  line-height: 1.3;
  font-size: 15px;
  color: #17171d;
  font-weight: 500;
}
/* advance-via-web3-box */
.web3-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.advance-via-web3-box {
  background-color: #17171d;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 30px;
}
.web3-info-box {
  width: 400px;
}
.web3-info-box h1 {
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 45px;
}
.web3-info-box p {
  padding-bottom: 45px;
  line-height: 1.8;
}
.change-color {
  color: #4aea87;
}
.web3-info-box button {
  border: 0;
  padding: 16px 35px;
  border-radius: 35px;
  background-color: #fd4b4b;
  color: white;
  font-size: 14px;
}
.data-forever {
  width: 750px;
}
.date-forever-box {
  display: flex;
  align-items: center;
}
.empowered-box {
  width: fit-content !important;
}
.date-forever-border,
.trust-solved {
  width: 357px;
  height: 319px;
  margin-bottom: 30px;
  margin-right: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 20px;
  border: 2px solid #4aea87;
  border-radius: 27px;
}
.date-forever-border h3 {
  padding-bottom: 10px;
}
.date-forever-border p {
  line-height: 1.7;
}
.date-forever-border .biometric-icon {
  background: #4aea87;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.box {
  position: relative;
  z-index: -1;
  text-align: center;
}
.box img {
  width: 100%;
  margin-top: -500px;
  margin-bottom: 40px;
}
.box-text {
  position: absolute;
  top: 0;
  padding-top: 100px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 5%);
  text-align: center;
}
.box-text h4 {
  padding-bottom: 20px;
  text-transform: uppercase;
  color: #fd4b4b;
  font-size: 20px;
  font-weight: 600;
}
.box-text h1 {
  font-size: 35px;
  color: #17171d;
  padding-bottom: 20px;
}
.box-text h1 span {
  color: #7836ff;
}
.box-text p {
  line-height: 1.9;
  color: #8e8e8e;
}
/*  */
.dee-pricing-box {
  padding-top: 100px;
  text-align: center;
}
.dee-pricing-box h1 {
  font-size: 35px;
  width: 50%;
  margin: 0 auto;
  padding-bottom: 30px;
}
.dee-pricing-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.8;
  color: #8e8e8e;
  padding-bottom: 20px;
}
/*  */
.testimonial-box {
  background-color: #f9f9f9;
  padding-top: 30px;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 50px;
}
.testimonial-box h1 {
  font-size: 35px;
  font-weight: 600;
}
.testimonial-user-info {
  background-color: #ffffff;
  width: 772px;
  border-radius: 12px;
  margin: 0 auto;
  padding: 30px;
  margin-top: 30px;
}
.testimonial-user-info h3 {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}
.founder {
  color: #fd4b4b !important;
  font-weight: lighter;
  padding-bottom: 15px;
}
.user-testimonial {
  line-height: 1.7;
  color: #8e8e8e;
  padding-bottom: 15px;
}
.stars {
  margin-right: 10px;
}
.btns {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}
.next-btn,
.prev-btn {
  background: #ffffff;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}

/*  */
.see-all-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.see-all-box h1 {
  font-size: 30px;
}
.see-all-box button {
  border: 0;
  padding: 14px 35px;
  border-radius: 35px;
  background-color: #fd4b4b;
  color: white;
  font-size: 14px;
}
.news-cards {
  background: white;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.06);
  border-radius: 22px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  width: fit-content;
  margin-right: 0px;
}
.news-card-description {
  text-align: left;
  padding-top: 20px;
  width: 200px;
}
.news-card-description h1 {
  font-size: 20px !important;
  font-weight: 600;
  padding-bottom: 5px;
}
.card-info {
  line-height: 1.4;
  width: 141%;
}
.read-more {
  display: flex;
  align-items: baseline;
  padding-top: 20px;
}
.read-more p {
  color: #1a8bf3 !important;
}
.established__box {
  width: 45%;
}
.established__box h1 {
  font-size: 40px;
  font-weight: 600;
  padding-bottom: 30px;
  line-height: 1.3;
}
.established__box p {
  line-height: 2.3;
  font-size: 15px !important;
  font-weight: 300;
  padding-bottom: 30px;
}
.established__box button {
  border: 0;
  padding: 16px 35px;
  border-radius: 35px;
  background-color: #fd4b4b;
  color: white;
  font-size: 14px;
}
.logos {
  background: white;
  box-shadow: 0px 2.58896px 38.8344px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 258.31px;
  height: 266.3px;
}
.logo-container {
  display: inline-block;
  width: 40%;
}
.logos2 {
  background: white;
  box-shadow: 0px 2.58896px 38.8344px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
  width: fit-content;
  height: fit-content;
  padding: 23px 20px;
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-bottom: 20px;
}
.not-show {
  visibility: hidden;
}
.price-plan-container {
  background-color: #f9f9f9;
  padding-top: 100px;
  padding-bottom: 100px;
}

.price-plan-box h1,
.price-plan-patients h1 {
  font-size: 40px;
  line-height: 1.5;
  padding-bottom: 30px;
  font-weight: 600;
}
.choose-plan-note {
  font-size: 16px;
  padding-bottom: 50px;
}
.price-plan-card {
  background: #ffffff;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  padding-left: 20px;
  width: 290px;
  height: 473px;
  padding-top: 20px;
}
.contact-btn {
  background: rgba(26, 139, 243, 0.1);
  border-radius: 28px;
  width: 265px;
  height: 56px;
  border: none;
  color: #1a8bf3;
  font-size: 16px;
  margin-top: 70px;
  font-weight: 600;
}
.payment-status {
  font-size: 15px;
  color: #7836ff;
  font-weight: 600;
  padding-bottom: 10px;
}
.price-plan-card h3 {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
}
.note {
  font-size: 17px;
  padding-bottom: 10px;
  word-spacing: 4px;
  letter-spacing: 1px;
}
.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.price-plan-card ul {
  padding-left: 30px;
}
.price-plan-card ul li {
  padding-bottom: 4px;
  color: #8e8e8e;
  font-size: 16px;
  font-weight: 500;
}
.price-plan-card ul li::marker {
  color: #7836ff;
  font-size: 30px;
}
.clinical-plan .payment-status,
.clinical-plan ul li::marker {
  color: #fd4b4b;
}
.vendor-plan .payment-status,
.vendor-plan ul li::marker {
  color: #4aea87;
}
.request-plan .payment-status,
.request-plan ul li::marker {
  color: #1a8bf3;
}
.premium-plan .payment-status,
.premium-plan ul li::marker {
  color: #4aea87;
}
.patient-card button {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.price-plan-patients {
  padding-top: 70px;
}
.footer-box-image {
  position: relative;
  padding-top: 60px;
}
.bg-image {
  width: 100%;
}
.mobile-image {
  width: 900px;
  height: 690px;
  position: absolute;
  top: 30px;
  left: 0;
}
.available-device {
  position: absolute;
  top: 30%;
  right: 50px;
}
.available-device h1 {
  font-size: 40px;
  padding-bottom: 30px;
  color: white;
  line-height: 1.6;
}
.available-device img {
  margin-right: 20px;
}
.patient-card {
  width: 400px;
  height: 498px;
}
.footer-container {
  background-color: #111114;
  margin-top: -10px;
}
.footer__box {
  padding-top: 140px;
  text-align: center;
  padding-bottom: 50px;
}
.footer-list-items h2 {
  color: white;
  font-size: 22px;
  padding-bottom: 15px;
  font-weight: 600;
  font-style: normal;
}
.footer-list-items p a {
  color: #c3bebe !important;
  line-height: 2.1;
  font-size: 16px;
  font-style: normal;
  font-weight: 300 !important;
}
.social-icon {
  background: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.line {
  color: #c3bebe !important;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
.copy-write {
  text-align: center;
  color: #4aea87;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  font-weight: lighter !important;
}
.tech-box__background {
  background: #ffffff !important;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.07);
  border-radius: 22px;
  border: none;
  width: 315px !important;
  height: 276px !important;
}
.tech-box__background2 {
  width: 650px !important;
  height: 206px !important;
}
.pricing__btn {
  border: 0;
  padding: 16px 35px;
  border-radius: 35px;
  background-color: #fd4b4b;
  color: white;
  font-size: 16px;
  margin-top: 40px;
}
@media (max-width: 1024px) {
  .header-list {
    padding-left: 30px;
    padding-right: 30px;
  }
  .get-r-dee-box,
  .responsive-cards,
  .card-box,
  .health-care-info,
  .kyc-biometric-box,
  .box-text,
  .tech-box,
  .responsive-press-box,
  .price-plan-box,
  .price-plan-patients {
    margin-left: 30px;
    margin-right: 30px;
  }
  .iphone-image img {
    width: 260px;
  }
  .description-box p {
    font-size: 12px;
  }
  .description-box {
    padding-left: 45px;
  }
  .background-color {
    background-image: none;
  }
  .get-r-dee-box {
    align-items: baselines;
  }
  .description {
    text-align: right;
  }
  .card-container,
  .card-container2 {
    width: 331px;
  }
  .card-container2 {
    right: 24px;
  }
  .card-container p,
  .card-container2 p {
    font-size: 13px;
  }
  .meetUp-container {
    margin-top: 152px;
  }
  .countries-box {
    margin-bottom: 20px;
  }
  .responsive__services {
    flex-direction: column;
  }
  .kyc-biometric-box,
  .web3-container {
    justify-content: center;
  }
  .biometric-box {
    margin-bottom: 20px;
  }
  .date-forever-box {
    padding-top: 40px;
  }
  .data-forever {
    width: 90%;
  }
  .tech-box .data-forever {
    width: 600px;
  }
  .responsive-image {
    width: 295px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .responsive__mobile-image {
    width: 187px;
    top: 199px !important;
  }
  .tech-box {
    flex-direction: column;
    align-items: center;
  }
  .dee-pricing-box img {
    width: 800px;
  }
  .testimonial-user-info {
    width: 90%;
  }
  .press-news-container {
    flex-direction: column;
  }
  .established__box {
    width: 90%;
    margin-bottom: 30px;
  }
  .logos {
    padding-left: 30px;
    padding-right: 30px;
  }
  .price-plan-card {
    margin-bottom: 26px;
  }
  .image-box {
    margin-left: 60px;
  }
  .image-box img {
    width: 166px;
  }
  .second-image-box img {
    width: 250px;
    margin-right: 50px;
  }
  .kyc-biometric-box,
  .web3-container {
    flex-direction: column;
  }
}
@media (max-width: 786px) {
  .responsive-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 172px;
    flex-wrap: wrap;
  }
  .card-container p,
  .card-container2 p {
    font-size: 13px;
  }
  .responsive-cards {
    position: inherit !important;
  }
  .card-container,
  .card-container2 {
    width: 331px;
    top: inherit;
    bottom: -178%;
    position: inherit;
  }
  .card-container2 {
    right: 24px;
  }
  .card-box {
    justify-content: center;
  }
  .box-text {
    width: 90%;
    left: inherit;
    transform: inherit;
  }
  .tech-box .data-forever {
    width: 100%;
  }
  .tech-box .date-forever-border {
    margin-right: 0;
    margin-left: 10px;
  }
  .tech-box .data-forever {
    margin-top: 100px;
  }
  .dee-pricing-box img {
    width: 500px;
  }
  .dee-pricing-box h1 {
    width: 90%;
  }
  .image-box {
    margin-left: 20px;
  }
  .image-box img {
    width: 146px;
  }
  .second-image-box {
    display: none;
  }
  .lines-bg,
  .circle-bg {
    height: 71vh;
  }
  .mobile-bg {
    height: 79vh;
  }
  .web3-network-box {
    font-size: 12px;
  }
}
@media (max-width: 880px) {
  .header-list {
    flex-direction: column;
  }
  .get-r-dee-box {
    flex-direction: column;
    align-items: center;
  }
  .description {
    text-align: left;
    padding-top: 45px;
  }
  .responsive-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 172px;
    flex-wrap: wrap;
  }
  .card-container p,
  .card-container2 p {
    font-size: 13px;
  }
  .responsive-cards {
    position: inherit !important;
  }
  .card-container,
  .card-container2 {
    width: 331px;
    top: inherit;
    bottom: -178%;
    position: inherit;
  }
  .card-container2 {
    right: 24px;
  }
}
@media (max-width: 694px) {
  .header-list-items {
    display: none;
  }
  .header-list {
    flex-direction: row;
  }
  .responsive-side-bar {
    display: flex;
    background-color: #fd4b4b;
    border-radius: 50%;
    cursor: pointer;
  }
  .responsive-side-bar img {
    width: 52px;
  }
  .responsive-cards {
    justify-content: center;
  }
  .card-container {
    margin-bottom: 30px;
  }
  .biometric-box {
    width: fit-content;
    height: fit-content;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .date-forever-box {
    flex-direction: column;
  }
  .date-forever-border {
    margin-right: 0;
  }
  .bg-none {
    display: none;
  }
  .image-box img {
    display: none;
  }
  .lines-bg,
  .circle-bg {
    background-image: none;
  }
}

@media (max-width: 572px) {
  .responsive-box {
    display: none;
  }
  .iphone-image {
    left: -122px;
  }
  .description {
    position: absolute;
    top: 403%;
    width: 100%;
  }
  .description-box {
    padding-left: 0;
  }
  .responsive-cards,
  .tech-box .data-forever {
    margin-top: 180%;
  }
}

@media (max-width: 425px) {
  .responsive-cards {
    margin-top: 261%;
  }
  .meetUp-container h1 {
    font-size: 20px;
  }
  .meetUp-container p,
  .banner {
    font-size: 16px;
  }
  .health-care-info p:first-child {
    width: 100%;
    font-size: 22px;
  }
  .health-care-info h3 {
    width: 100%;
    font-size: 25px;
  }
  .health-care-info {
    text-align: left;
  }
  .dee-pricing-box img {
    width: 312px;
  }
  .established__box {
    width: 149%;
  }
  .press-news-container {
    align-items: flex-start !important;
  }
  .cards {
    justify-content: center;
  }
  .health-care-box button {
    margin-right: 0;
  }
  .date-forever-border,
  .trust-solved {
    height: fit-content;
  }
  .tech-box__background2 {
    width: fit-content !important;
  }
}
@media (max-width: 375px) {
  .responsive-cards {
    margin-top: 300%;
  }
  .health-care-info h3 {
    font-size: 22px;
  }
  .health-care-info p:first-child {
    font-size: 20px;
  }
  .kyc-biometric-box,
  .web3-container {
    text-align: center;
  }
  .logos {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 320px) {
  .responsive-cards {
    margin-top: 390%;
  }
}
