@media (max-width: 1440px) {
  .header-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .meetUp-container {
    margin-top: 365px;
  }
}
@media (max-width: 674px) {
  .header-list-items {
    display: none !important;
  }
  .responsive-side-bar {
    display: flex !important;
    background-color: #fd4b4b !important;
    border-radius: 50% !important;
    cursor: pointer !important;
  }
  .responsive-side-bar img {
    width: 52px !important;
  }
  .header-list {
    flex-direction: row !important;
  }
}
@media (max-width: 698px) {
  .health-care-box h1 {
    font-size: 34px !important;
  }
  .web3-network-box {
    font-size: 10px !important;
  }
  .health-care-box button {
    margin-right: 0 !important;
  }
}
@media (max-width: 1024px) {
  .mobile-bg__image {
    width: 845.13px !important;
  }
  .background-color {
    background-image: inherit !important;
    margin-top: -260px !important;
  }
  .user-box-image {
    width: 176px !important;
    height: 171px !important;
    left: 0px !important;
    top: -26px !important;
  }
  .simplyfiy-product-box-image {
    top: 189px !important;
    width: 216px !important;
    height: 264px !important;
    left: 4px !important;
  }
  .healtcare-box-image {
    top: 4px !important;
    left: 705px !important;
    width: 273px !important;
    height: 117px !important;
  }
  .user-time-box-image {
    top: 360px !important;
    left: 734px !important;
    width: 233px !important;
    height: 117px !important;
  }
  .description {
    padding-top: 110px !important;
  }
  .get-r-dee-box {
    align-items: center !important;
  }
  .web3-container {
    align-items: center;
  }
  .web3-info-box {
    width: 60%;
  }
  .date-forever-box {
    justify-content: space-between !important;
  }
  .bg-none {
    display: none;
  }
}
@media (max-width: 880px) {
  .header-list {
    flex-direction: column;
  }
  .user-box-image,
  .simplyfiy-product-box-image,
  .healtcare-box-image,
  .user-time-box-image {
    display: none;
  }
  .mobile-bg__image {
    width: 690.13px !important ;
  }
}
@media (max-width: 786px) {
  .iphone-image {
    left: 351px !important;
  }
  .health-care-info p:first-child {
    font-size: 15.5px !important;
  }
  .health-care-info h3 {
    font-size: 25px !important;
  }
  .web3-info-box {
    width: 80%;
  }
  .date-forever-border,
  .trust-solved {
    height: 373px !important;
  }
  .empowered-box {
    height: fit-content !important;
    width: 357px !important;
  }
}

@media (max-width: 425px) {
  .mobile-bg__image {
    width: 394px !important;
  }
  .health-care-box h1 {
    font-size: 37px !important;
  }
  .web3-network-box {
    font-size: 8px !important;
    font-weight: bold !important;
  }
  .responsive-btn {
    flex-direction: column;
    align-items: center;
  }
  .patients_btn {
    margin: 0 !important;
    margin-top: 20px !important;
  }
  .health-care-box p:first-child {
    font-size: 12px;
  }
  .lines-bg,
  .circle-bg {
    height: 57vh !important;
  }
  .iphone-image {
    left: 50px !important;
  }
  .responsive-cards {
    margin-top: 70% !important;
  }
  .tech-box .data-forever {
    margin-top: 13% !important;
  }
  .responsive-text {
    font-size: 10px !important;
  }
  .date-forever-border,
  .trust-solved {
    width: 331px !important;
  }
  .date-forever-border,
  .trust-solved,
  .empowered-box {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .web3-info-box {
    padding-right: 0 !important;
    width: 95%;
  }
  .empowered-box p {
    font-size: 12px !important;
  }
}
@media (max-width: 375px) {
  .mobile-bg__image {
    width: 330px !important;
  }
  .health-care-box {
    height: 143.5vh !important;
  }
  .re-dee__container {
    padding-top: 100px !important;
  }
  .iphone-image img {
    width: 250px !important;
    height: 343px !important;
  }
  .description-box h3 {
    font-size: 26px !important;
  }
  .description-box p {
    font-size: 12px !important;
  }
  .description {
    width: 312px !important;
    padding-top: 47px !important;
  }

  .health-care-box h1 {
    font-size: 35px !important;
  }
  .web3-network-box {
    font-size: 11px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
  .health-care-box h1 sup {
    font-size: 10px !important;
  }
  .lines-bg {
    background-image: none !important;
    height: 38vh !important;
  }

  .mobile-bg {
    height: 46vh !important;
  }
  .circle-bg {
    height: 38vh !important;
  }
  .iphone-image {
    left: 35px !important;
  }
  .tech-box .data-forever {
    margin-top: 20% !important;
  }

  .biometric-box {
    flex-direction: column;
  }

  .empowered-box,
  .date-forever-border,
  .trust-solved {
    width: 331px !important;
  }
}

@media (max-width: 320px) {
  .mobile-bg__image {
    width: 310px !important;
  }
  .health-care-box {
    height: 139.4vh !important;
  }
  .description {
    width: 263px !important;
  }
  .description-box h3 {
    font-size: 22px !important;
  }
  .web3-network-box {
    font-size: 11px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 86% !important;
  }
  .responsive-cards {
    margin-top: 85% !important;
  }
  .health-care-box button,
  .patients_btn {
    font-size: 15px !important;
  }
  .mobile-bg {
    height: 50vh !important;
  }
  .iphone-image {
    left: 5px !important;
  }
  .card-container2 {
    height: fit-content !important;
  }
  .tech-box .data-forever {
    margin-top: 40% !important;
  }
  .countries-box p {
    font-size: 10px !important;
  }
  .health-care-info p:first-child {
    font-size: 12.5px !important;
  }
  .meetUp-container {
    margin-top: 438px !important;
  }
  .about-services-box {
    width: 269px !important;
  }
  .responsive-image {
    width: 250px !important;
  }
  .responsive__mobile-image {
    width: 155px !important;
    top: 176px !important;
  }
  .empowered-box {
    margin-left: -29px;
  }
  .box-text {
    width: 90%;
    margin-left: 8px !important;
    margin-right: 0 !important;
  }
  .web3-info-box p {
    font-size: 14px !important;
  }
}
